		<div class="alert alert-info alert-dismissible">
        	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<h4><i class="icon fa fa-info"></i>Did you know?</h4>
			<?=__($message)?>
		</div>